<div id="leftBar">
	<div id="tb_list2">
		<table><tr><th>激情讨论</th></tr></table>
  		<table class="listTb">
    		<tr><th>题目名称：$topic.topicName</th></tr>
	    	<tr><td  style="text-align: left">$topic.topicContent</td></tr>
	    	<tr><td style="text-align: right">该题目由 <font color="red">$topic.pubUser.nickname ($topic.pubUser.username )</font> 于$topic.pubTime 倾情奉献</td></tr>
		    <tr><td colspan="2" style="text-align: right">
					    	<span style="float: left;">
						    	类别：<a href="./topiclist.do?type=class&classid=$topic.topicClass.classId">$topic.topicClass.className </a> 
						    	标签：
								#foreach($tag in $topic.topicTags.replace('，',',').split(","))
						    		<a href="./topiclist.do?type=tag&tag=$tag ">$tag</a>
						    		#if($foreach.hasNext),#end
						    	#end
					    	</span>
				</td>
			</tr>
		</table>
	
			<table><tr><th>讨论列表</th></tr></table>
			<div class="discussList">
				<ul>
				#foreach($m in $messagePager.voList)
					#if($foreach.count%2==0)
						<li class="even">@$m.subTime,by <font color="red">$m.disUser.nickname ($m.disUser.username)</font>: 
							<span id="msgScore"><span id="scoreLable$m.messageId">$m.score </span>
								<a href="javascript:void(0)" 
									onclick="$.get('./rate.do', 
													{ msgId: '$m.messageId'} ,
													function(result){dealWithMsgScore(result)});" 
													id="upScore">赞一个！</a>  
							</span>
							<div class="dissContent">$m.messageContent </div>
						</li>
					#end
					#if($foreach.count%2!=0)
						<li class="odd">@$m.subTime,by <font color="red">$m.disUser.nickname ($m.disUser.username)</font>:
							<span id="msgScore"><span id="scoreLable$m.messageId">$m.score </span>
								<a href="javascript:void(0)" 
									onclick="$.get('./rate.do', 
													{ msgId: '$m.messageId'} ,
													function(result){dealWithMsgScore(result)} );" 
													id="upScore">赞一个！</a>  
							</span>
							<div class="dissContent">$m.messageContent </div>
						</li>
					#end
				#end
				#if($messagePager.voList.size()==0)
						<li style="text-align: center;">暂时没有评论……</li>
				#end
				</ul>
			</div>
			<form action="./discuss.do?topicid=$topic.topicId " onsubmit="return validateForm()" method="post">
				<table class="editorContainer">
		    		<tr><th style="text-align: center;">散发一下你的激情</th></tr>
			    	<tr><td><textarea id="editorContent" class="fullWidth" rows="15" cols="5" name="messageContent"></textarea></td></tr>
				    <tr><th style="text-align: center;">
					    <input type="submit" class="input_btn" value="提交">
					    <input type="button" value="返回" onclick="javaScript:window.history.back(-1)" class="input_btn" />
					</th></tr>
		     	</table>
			</form>
	<script type="text/javascript">
		function validateForm(){
			var dissContent = editor.text();
			if(dissContent==""){
				alert("您貌似什么都没有说，这样可不厚道哟！");
				return false;
			}
			return true;
		}
	</script>
		<script>
	        var editor;
			KindEditor.ready(function(K) {
				editor = K.create('#editorContent', {
					resizeType : 1,
					allowPreviewEmoticons : false,
					allowImageUpload : false,
					width : '800px',
					items : [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image','code', 'link']
				});
			});
	</script>
	</div>
</div>
<div id="sideBar">
			<table class="listTb">
					<tr><th>风流公告</th></tr>
					<tr>
						<td>
							祝所有的同学都能找个好工作！！
							风流倜傥交流群：59142816
						</td>
					</tr>
			</table>
			<table class="listTb">
					<tr><th>热门题目<span class="moreLable"><a href="#">更多>></a></span></th></tr>
					#foreach($topic in $hotestTopicPager.voList)
						<tr><td style="text-align: left;"><a href="./discusspri.do?topicid=$topic.topicId">[ $topic.pubTime ]<br>$topic.topicName</a></td></tr>
					#end
			</table>
			<table class="listTb">
					<tr><th>热门文章<span class="moreLable"><a href="#">更多>></a></span></th></tr>
				#foreach($article in $hotestArticlePager.voList)
					<tr>
						<td style="text-align: left;"><a href="./viewArticle.do?articleid=$article.articleId" title="$article.articleTitle">$article.articleTitle<br>[ $article.pubTime ]</a>
						</td>
					</tr>
				#end
			</table>
			
			<table class="listTb">
					<tr><th>三好学生</th></tr>
						#parse("users.vm")
			</table>
</div>
